html:dark {
	--bg: #000;
	--text: #fff;
}

html:light {
	--bg: #fff;
	--text: #000;
}

html {
	background-color: var(--bg);
	color: var(--text);
	transition: all 0.3s ease;
}

body {
	padding: 8rem;
}

h1 {
	font-size: 6rem;
}

p {
	font-size: 1.5rem;
}

button {
	display: flex;
	gap: 1rem;
	margin: 1rem 0;
}

a {
	display: flex;
	align-items: center;
	font-family: sans-serif;
	text-decoration: none;
	color: var(--text);
	opacity: 0.7;
}

a > svg {
	transition: all 0.3s ease;
}

a:hover > svg {
	transform: translateX(5px);
}

svg {
	height: 100%;
	width: 18px;
}

.svg-check {
	display: none;
}

@media (max-width: 720px) {
	body {
		padding: 3rem;
	}
	h1 { font-size: 3rem; }
	p {
		font-size: 1.3rem;
	}
}
